.mainDiv{
    max-width: 80%;
    height: 30px;
    display: block;
    margin: auto;
}
.box{
    width: 500px;
    display: block;
    margin: auto;
}
.MuiOutlinedInput-root{
    height: 30px !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
}
.input{
    padding: 5px 10px;
    width: 100%;
}