.dark{
padding-top: 5px;
}
.text-white{
  color : white
}
.text-black{
  color : black
}
.text-center{
  text-align: center;
}
.mt-10{
  margin-top: 10px !important;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.w100{
  width: 100%;
}